body {
    // background-repeat: no-repeat;
    // background-position: center;
    // background-color: #E6E7E8;
    background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
                radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
                // radial-gradient(#A8B1BB 8px, transparent 8px),
                linear-gradient(to bottom, #A8B1BB, transparent);
                // linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: slategray;
    // background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
    background-size: 100px 100px, 100px 100px, 50px 50px;
}

.main-body {
    padding: 24px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-laravel {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0 , 0, 0.04);
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    margin-left: 10px;
    margin-right: 10px;
}

.table-dark {
    color: #000;
}

.list-group-item {
    border-color: #000;
    background-color: #fff;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
    background-color: rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #000;
    // height: 50px;
    line-height: 50px;
    margin-top: 50px;
}

footer li {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 60px;
}

.checkbox {
    width: 20px;
    height: 20px;
}

// footer固定
body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

