body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E6E7E8;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  margin-left: 10px;
  margin-right: 10px;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

footer {
  background-color: #000;
  height: 50px;
  line-height: 50px;
}

footer li {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.main {
  text-align: center;
  margin-bottom: 40px;
}

.main p {
  font-size: 20px;
}

.content a {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 20px;
  margin-bottom: 0;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

body,
#app {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

